/* General styles */
.bass-tab-buddy-content {
    padding: 10px;
    max-width: 632px;
    margin: 0 auto;
}

.bass-tab-buddy-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.bass-tab-buddy-icon {
    margin-right: 10px;
}

/* Metadata styles */
.bass-tab-buddy-metadata .setting-item {
    border-top: none;
    padding-top: 0;
}

.bass-tab-buddy-metadata .setting-item-control {
    flex-grow: 1;
}

.bass-tab-buddy-metadata input {
    width: 100%;
}

.bass-tab-buddy-icon {
    margin-left: 10px;
    vertical-align: middle;
}

/* Setting item styles */
.setting-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 20px;
    width: 100%;
}

.setting-item-info {
    margin-bottom: 5px;
}

.setting-item-name {
    font-weight: bold;
}

.setting-item-control {
    width: 100%;
}

/* Segmented control styles */
.segmented-control {
    display: flex;
    border: 2px solid var(--interactive-accent);
    border-radius: 4px;
    overflow: hidden;
    width: 100%;
}

.segment {
    flex: 1;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    background-color: var(--background-primary);
    transition: background-color 0.3s;
    box-sizing: border-box;
}

.segment:not(:last-child) {
    border-right: 2px solid var(--interactive-accent);
}

.segment.is-active {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
}

/* Button styles */
/*.bass-tab-buddy-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}

.bass-tab-buddy-controls button {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}*/

.bass-tab-buddy-controls {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}

.bass-tab-buddy-controls button {
    margin-right: 0.5em;
}

.bass-tab-buddy-controls button:hover {
    background-color: var(--interactive-hover);
}

.bass-tab-buddy-controls button:active {
    background-color: var(--interactive-accent-hover);
}

/* Note input styles */
.bass-tab-buddy-note-input .setting-item {
    border-top: none;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

/* Tablature display styles */
.bass-tab-buddy-tablature {
    margin-top: 20px;
    font-family: monospace;
    white-space: pre;
    overflow-x: auto;
}